@font-face{
  font-family: Butler;
  font-weight: normal;
  src: url('../fonts/Butler_Black.otf');
}

@font-face{
  font-family: Butler;
  font-weight: bold;
  src: url('../fonts/Butler_Bold.otf');
}

@font-face{
  font-family: Butler;
  font-weight: 600;
  src: url('../fonts/Butler_Medium.otf');
}

*{
  padding: 0;
  margin: 0;
}

html body{ 
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*
#######################################################################################################
##################################Grid del contenedor principal########################################
#######################################################################################################
*/

.maincontainer{
  background-image: url(../img/homebackground1.jpg);
  /* background-image: url(../dummies/home.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu title" "menu content";
  -ms-grid-columns: 74.4vh 1fr;
  grid-template-columns: 74.4vh 1fr;
  -ms-grid-rows: 22% 78%;
  grid-template-rows: 22% 78%;
}

.back1, .back2, .back3, .back4, .back5, .back6, .back7{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position-y: 100%;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 74.4vh 1fr;
  grid-template-columns: 74.4vh 1fr;
}

.firsthalf{
  background: inherit;
  position: absolute;
  -ms-grid-column-span: 2;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
}

.back1{
  background-image: url(../img/homebackground1.jpg);
  opacity: 0;
  -webkit-animation: backchange1 30s infinite;
          animation: backchange1 30s infinite;
}

@-webkit-keyframes backchange1 { /*+esta transcurre del principio al segundo 2.5*/
  0%, 8.33% {opacity: 1;} /*0 a 2.5*/
  13.33%, 100% {opacity: 0;} /*2.5 a 30*/
}

@keyframes backchange1 { /*+esta transcurre del principio al segundo 2.5*/
  0%, 8.33% {opacity: 1;} /*0 a 2.5*/
  13.33%, 100% {opacity: 0;} /*2.5 a 30*/
}

.back2{
  background-image: url(../img/homebackground2.jpg);
  opacity: 0;
  -webkit-animation: backchange2 30s infinite;
          animation: backchange2 30s infinite;
}

@-webkit-keyframes backchange2 { /*esta transcurre del segundo 2.5 al 7.5*/
  0%, 8.33% {opacity: 0;} /*0 a 2.5*/
  13.33%, 25% {opacity: 1;} /*2.5 a 7.5*/
  30%, 100% {opacity: 0;} /*7.5 a 30*/
}

@keyframes backchange2 { /*esta transcurre del segundo 2.5 al 7.5*/
  0%, 8.33% {opacity: 0;} /*0 a 2.5*/
  13.33%, 25% {opacity: 1;} /*2.5 a 7.5*/
  30%, 100% {opacity: 0;} /*7.5 a 30*/
}

.back3{
  background-image: url(../img/homebackground3.jpg);
  background-position-y: 60%;
  opacity: 0;
  -webkit-animation: backchange3 30s infinite;
          animation: backchange3 30s infinite;
}

@-webkit-keyframes backchange3 { /*esta transcurre del segundo 7.5 al 12.5*/
  0%, 25% {opacity: 0;} /*0 a 7.5*/
  30%, 41.66% {opacity: 1;} /*7.5 a 12.5*/
  46.66%, 100% {opacity: 0;} /*12.5 a 30*/
}

@keyframes backchange3 { /*esta transcurre del segundo 7.5 al 12.5*/
  0%, 25% {opacity: 0;} /*0 a 7.5*/
  30%, 41.66% {opacity: 1;} /*7.5 a 12.5*/
  46.66%, 100% {opacity: 0;} /*12.5 a 30*/
}

.back4{
  background-image: url(../img/homebackground4.jpg);
  opacity: 0;
  -webkit-animation: backchange4 30s infinite;
          animation: backchange4 30s infinite;
}

@-webkit-keyframes backchange4 { /*esta transcurre del segundo 12.5 al 17.5*/
  0%, 41.66% {opacity: 0;} /*0 a 12.5*/
  46.66%, 58.33% {opacity: 1;} /*12.5 a 17.5*/
  63.33%, 100% {opacity: 0;} /*17.5 a 30*/
}

@keyframes backchange4 { /*esta transcurre del segundo 12.5 al 17.5*/
  0%, 41.66% {opacity: 0;} /*0 a 12.5*/
  46.66%, 58.33% {opacity: 1;} /*12.5 a 17.5*/
  63.33%, 100% {opacity: 0;} /*17.5 a 30*/
}

.back5{
  background-image: url(../img/homebackground5.jpg);
  opacity: 0;
  -webkit-animation: backchange5 30s infinite;
          animation: backchange5 30s infinite;
}

@-webkit-keyframes backchange5 { /*esta transcurre del segundo 17.5 al 22.5*/
  0%, 58.33% {opacity: 0;} /*0 a 17.5*/
  63.33%, 75% {opacity: 1;} /*17.5 a 22.5*/
  80%, 100% {opacity: 0;} /*22.5 a 30*/
}

@keyframes backchange5 { /*esta transcurre del segundo 17.5 al 22.5*/
  0%, 58.33% {opacity: 0;} /*0 a 17.5*/
  63.33%, 75% {opacity: 1;} /*17.5 a 22.5*/
  80%, 100% {opacity: 0;} /*22.5 a 30*/
}

.back6{
  background-image: url(../img/homebackground6.jpg);
  background-position-y: initial;
  opacity: 0;
  -webkit-animation: backchange6 30s infinite;
          animation: backchange6 30s infinite;
}

@-webkit-keyframes backchange6 { /*esta transcurre del segundo 22.5 al 27.5*/
  0%, 75% {opacity: 0;} /*0 al 22.5*/
  80%, 91.66% {opacity: 1;} /*22.5 al 27.5*/
  96.66%, 100% {opacity: 0;} /*27.5 al 30*/
}

@keyframes backchange6 { /*esta transcurre del segundo 22.5 al 27.5*/
  0%, 75% {opacity: 0;} /*0 al 22.5*/
  80%, 91.66% {opacity: 1;} /*22.5 al 27.5*/
  96.66%, 100% {opacity: 0;} /*27.5 al 30*/
}

.back7{
  background-image: url(../img/homebackground1.jpg);
  opacity: 0;
  -webkit-animation: backchange7 30s infinite;
          animation: backchange7 30s infinite;
}

@-webkit-keyframes backchange7 { /*esta transcurre del segundo 27.5 al segundo 30*/
  0%, 91.66% {opacity: 0;} /*0 al 27.5*/
  96.66%, 100% {opacity: 1;} /*27.5 al 30*/
}

@keyframes backchange7 { /*esta transcurre del segundo 27.5 al segundo 30*/
  0%, 91.66% {opacity: 0;} /*0 al 27.5*/
  96.66%, 100% {opacity: 1;} /*27.5 al 30*/
}

.menu{
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  position: relative;
  grid-area: menu;
}

.menumobile{
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  position: relative;
  grid-area: menu;
  display: none;
}

.titlearea{
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: title;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

.content{
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  position: relative;
  grid-area: content;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

@media all and (max-width: 768px){
  html body{
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    overflow: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .maincontainer{
    background-image: url(../img/homebackground1.jpg);
    /* background-image: url(../dummies/homemobile.jpg); */
    height: 177.867vw;
    width: 100%;
        grid-template-areas: "menu" "content";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 82.5vw 1fr;
    grid-template-rows: 82.5vw 1fr;
    background-position: 25% 50%;
  }

  .back1, .back2, .back3, .back4, .back5, .back6, .back7{
    background-position: 25% 50%;
    display: initial;
    min-height: 100vh;
    height: 100%;
  }

  .menu{
    display: none;
  }

  .menumobile{
    display: block;
  }

  .titlearea{
    position: absolute;
    bottom: 26.7%;
    left: 7.6%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 5.7%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  }
}

/*
#######################################################################################################
##################################Estilos para el menú animado#########################################
#######################################################################################################
*/

.triangleback, .trianglefront, .logoboom{
  position: absolute;
  height: 100%;
  top:0;
}

.circlemenu{
  position: absolute;
  right: 4.3%;
  top: 34.5%;
  width: 38.6%;
}

.pacman{
  position: absolute;
  right: -1.2%;
  top: 30.4%;
  width: 53.092%;
  height: 39.5%;
  border-radius: 50%;
  background: inherit;
  -webkit-box-shadow: inset 0px 0px 2000px rgba(255,255,255,0.2);
          box-shadow: inset 0px 0px 2000px rgba(255,255,255,0.2);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  /* border: 0.2vh rgba(0, 0, 0, 1) solid; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: blowing .8s .8s backwards;
          animation: blowing .8s .8s backwards;
}

.pacmanwrapper{
  position: absolute;
  right: -1.2%;
  top: 30.4%;
  width: 53.092%;
  height: 39.5%;
  border-radius: 50%;
  border: 0.2vh rgba(255, 255, 255, 0.2) solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: blowing .8s .8s backwards;
          animation: blowing .8s .8s backwards;
}

.menuicons{
  position: absolute;
  top:31.8%;
  right: 0;
  width: 43%;
  height: 36.6%;
  /* background-color: rgba(0, 0, 255, .5); */
}

.espaciosicon, .mobiliarioicon, .industrialicon, .webicon, .contacticon, .aboutusicon, .homeicon{
  position: absolute;
  z-index: 4;
}

.espaciosicon{
  width: 31.5%;
  right: 62.6%;
  top: -6px;
}

.espaciosbubble{
  position: absolute;
  width: 140%;
  right: -35.1%;
  top: -36.3%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 9.8% 95%;
      -ms-transform-origin: 9.8% 95%;
          transform-origin: 9.8% 95%;
  opacity: .0;
  visibility: hidden;
}

.mobiliarioicon{
  width: 31.5%;
  right: 26.7%;
  top: -1.1%;
}

.mobiliariobubble{
  position: absolute;
  width: 140%;
  right: -94.2%;
  top: -19.6%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 2% 81%;
      -ms-transform-origin: 2% 81%;
          transform-origin: 2% 81%;
  opacity: .0;
  visibility: hidden;
}


.industrialicon{
  width: 31.5%;
  right: -3.8%;
  top: 20.6%;
}

.industrialbubble{
  position: absolute;
  width: 110%;
  right: -106.9%;
  top: 14%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 2.8% 83%;
      -ms-transform-origin: 2.8% 83%;
          transform-origin: 2.8% 83%;
  opacity: .0;
  visibility: hidden;
}

.webicon{
  width: 31.5%;
  right: -3.8%;
  top: 51.3%;
}

.webbubble{
  position: absolute;
  width: 105%;
  right: -102.3%;
  bottom: 12.8%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 2% 10%;
      -ms-transform-origin: 2% 10%;
          transform-origin: 2% 10%;
  opacity: .0;
  visibility: hidden;
}

.contacticon{
  width: 31.5%;
  right: 26.6%;
  bottom: -1.4%;
}

#opencontact{
  position: absolute;
  width: 31.5%;
  height: 27.5%;
  right: 26.6%;
  bottom: -1.4%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

#opencontact:checked ~ .contactusbubble,
#opencontact:checked ~ .contactsection{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.contactbubble{
  position: absolute;
  width: 62%;
  right: -15.8%;
  bottom: -21.3%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 5% 12%;
      -ms-transform-origin: 5% 12%;
          transform-origin: 5% 12%;
  opacity: .0;
  visibility: hidden;
}

.contactusbubble{
  position: absolute;
  width: 241%;
  height: 169.3%;
  right: -196%;
  bottom: -76%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0% 54%;
      -ms-transform-origin: 0% 54%;
          transform-origin: 0% 54%;
  opacity: .0;
  visibility: hidden;
}

.contactsection{
  position: absolute;
  width: 241%;
  height: 169.3%;
  right: -196%;
  bottom: -76%;
  z-index: 2;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0% 54%;
      -ms-transform-origin: 0% 54%;
          transform-origin: 0% 54%;
  opacity: .0;
  visibility: hidden;
}

.contactsection a{
  color: white;
  font-family: Bahnschrift;
  text-decoration: none;
}

.socialicon{
  position: absolute;
  left: 43%;
  width: 11.5%;
  height: 11.5%;
}

#facebook{
  top: 5.4%;
}

#facebooklink, #whatsapplink, #twitterlink, #instagramlink, #phonelink, #maillink{
  position: absolute;
  left: 55.8%;
  font-size: 1.99vmin;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#facebooklink {
  top: 10%;
}

#whatsapp{
  top: 21%;
}

#whatsapplink{
  top: 25.3%;
}

#twitter{
  top: 36.5%;
}

#twitterlink{
  top: 40.6%;
}

#instagram{
  top: 51.5%;
}

#instagramlink{
  top: 55.6%;
}

#phone{
  top: 67.5%;
}

#phonelink{
  top: 70.5%;
}

#mail{
  top: 83%;
}

#maillink{
  top: 87.4%;
}

.aboutusicon{
  width: 31.5%;
  right: 62.3%;
  bottom: -3.1%;
}

.aboutusbubble{
  position: absolute;
  width: 62%;
  right: 42.3%;
  bottom: -35.5%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 20.5% 5.5%;
      -ms-transform-origin: 20.5% 5.5%;
          transform-origin: 20.5% 5.5%;
  opacity: .0;
  visibility: hidden;
}

.homeicon{
  width: 20.5%;
  right: 48.1%;
  top: 41.4%;
}

@media all and (max-width: 768px){
  .triangleback, .trianglefront{
    width: 100%;
    height: auto;
  }

  .logoboom{
    width: 88%;
    top: -37.3%;
    left: 9.8%;
    height: 108.5%;
  }

  .boomicon{
    position: absolute;
    width: 16.3%;
    left: 42.1%;
    top: 54%;
    -webkit-transition-property: -webkit-filter;
    transition-property: -webkit-filter;
    -o-transition-property: filter;
    transition-property: filter;
    transition-property: filter, -webkit-filter;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  #openmenu{
    position: relative;
    width: 18%;
    height: 18%;
    left: 41.1%;
    top: 54.6%;
    z-index: 1;
    opacity: 0;
  }

  .circlemenu{
    right: 36%;
    top: 65.5%;
    width: 28%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .menuicons{
    top: 55.2%;
    right: 33.7%;
    width: 32.6%;
    height: 44.9%;
  }

  .espaciosicon{
    width: 27.5%;
    right: -2.5%;
    top: 27.2%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .espaciosbubble{
    width: 65%;
    right: -62%;
    top: 27.7%;
  }

  .mobiliarioicon{
    width: 27.5%;
    right: -1.3%;
    top: 55%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .mobiliariobubble{
    width: 69%;
    right: -64.6%;
    top: 55.4%;
  }

  .industrialicon{
    width: 27.5%;
    right: 20.3%;
    top: initial;
    bottom: -2.3%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .industrialbubble{
    width: 68.2%;
    right: -41%;
    top: initial;
    bottom: 4.1%;
  }

  .webicon{
    width: 27.5%;
    right: initial;
    top: initial;
    bottom: -2.2%;
    left: 21.8%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .webbubble{
    width: 84.5%;
    right: initial;
    left: -56%;
    bottom: 2.7%;
  }

  .contacticon{
    width: 27.5%;
    right: initial;
    left: -0.9%;
    bottom: 20.8%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .contactbubble{
    width: 68.2%;
    right: initial;
    left: -62.9%;
    bottom: 27.7%;
  }

  .aboutusicon{
    width: 27.5%;
    right: initial;
    left: -2%;
    bottom: 48.2%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .aboutusbubble{
    width: 90%;
    right: 95.4%;
    bottom: 54.5%;
  }

  .homeicon{
    width: 17.6%;
    right: 41%;
    top: 46.8%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  .pacman{
  display: none;
  }
}

/*
#######################################################################################################
#############################Animaciones de entrada del menú###########################################
#######################################################################################################
*/

.maincontainer{
  -webkit-animation: starting .8s;
          animation: starting .8s;
}

.titlearea{
  -webkit-animation: starting .8s 2.8s backwards;
          animation: starting .8s 2.8s backwards;
}

@-webkit-keyframes starting{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes starting{
  from{opacity: 0;}
  to{opacity: 1;}
}

.triangleback{
  -webkit-animation: entering .8s .4s backwards;
          animation: entering .8s .4s backwards;
}

.trianglefront{
  -webkit-animation: entering .8s .8s backwards;
          animation: entering .8s .8s backwards;
}

@-webkit-keyframes entering{
  from{left: -100%;}
  to{left: 0;}
}

@keyframes entering{
  from{left: -100%;}
  to{left: 0;}
}

.logoboom{
  -webkit-animation: enteringlogo 1.6s 1.6s backwards;
          animation: enteringlogo 1.6s 1.6s backwards;
}

@-webkit-keyframes enteringlogo{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes enteringlogo{
  from{opacity: 0;}
  to{opacity: 1;}
}

.circlemenu{
  -webkit-animation: blowing .8s .8s backwards;
          animation: blowing .8s .8s backwards;
}

.espaciosicon{
  -webkit-animation: blowing .8s 1s backwards;
          animation: blowing .8s 1s backwards;
}

.mobiliarioicon{
  -webkit-animation: blowing .8s 1.2s backwards;
          animation: blowing .8s 1.2s backwards;
}

.industrialicon{
  -webkit-animation: blowing .8s 1.4s backwards;
          animation: blowing .8s 1.4s backwards;
}

.webicon{
  -webkit-animation: blowing .8s 1.6s backwards;
          animation: blowing .8s 1.6s backwards;
}

.contacticon{
  -webkit-animation: blowing .8s 1.8s backwards;
          animation: blowing .8s 1.8s backwards;
}

.aboutusicon{
  -webkit-animation: blowing .8s 2s backwards;
          animation: blowing .8s 2s backwards;
}

.homeicon{
  -webkit-animation: blowing .8s 2.2s backwards;
          animation: blowing .8s 2.2s backwards;
}

@-webkit-keyframes blowing{
  from{-webkit-transform: scale(0);transform: scale(0);}
  to{-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes blowing{
  from{-webkit-transform: scale(0);transform: scale(0);}
  to{-webkit-transform: scale(1);transform: scale(1);}
}

@media all and (max-width: 768px){
  @-webkit-keyframes entering{
    from{top: -100%;}
    to{left: 0;}
  }
  @keyframes entering{
    from{top: -100%;}
    to{left: 0;}
  }

  .espaciosbubble, .mobiliariobubble, .industrialbubble{
    -webkit-transform-origin: -14% 70%;
        -ms-transform-origin: -14% 70%;
            transform-origin: -14% 70%;
  }

  .webbubble, .contactbubble, .aboutusbubble{
    -webkit-transform-origin: 112% 62%;
        -ms-transform-origin: 112% 62%;
            transform-origin: 112% 62%;
  }

  .boomicon{
    -webkit-animation: blowing1 2s 1s backwards;
            animation: blowing1 2s 1s backwards;
  }

  @-webkit-keyframes blowing1{
    0% {-webkit-transform: scale(0);transform: scale(0); -webkit-filter: invert(0%); filter: invert(0%);}
    20%, 80% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: invert(100%); filter: invert(100%);}
    100%{-webkit-transform: scale(1);transform: scale(1); -webkit-filter: invert(0%); filter: invert(0%);}
  }

  @keyframes blowing1{
    0% {-webkit-transform: scale(0);transform: scale(0); -webkit-filter: invert(0%); filter: invert(0%);}
    20%, 80% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: invert(100%); filter: invert(100%);}
    100%{-webkit-transform: scale(1);transform: scale(1); -webkit-filter: invert(0%); filter: invert(0%);}
  }

  .circlemenu{
    -webkit-animation: blowing2 3s 1.1s;
            animation: blowing2 3s 1.1s;
  }

  @-webkit-keyframes blowing2{
    0%, 100%{-webkit-transform: scale(0);transform: scale(0);}
    15%, 85% {-webkit-transform: scale(1);transform: scale(1);}
  }

  @keyframes blowing2{
    0%, 100%{-webkit-transform: scale(0);transform: scale(0);}
    15%, 85% {-webkit-transform: scale(1);transform: scale(1);}
  }

  .espaciosicon, .espaciosbubble{
    -webkit-animation: blowing3 2s 1.3s;
            animation: blowing3 2s 1.3s;
  }

  .mobiliarioicon, .mobiliariobubble{
    -webkit-animation: blowing3 2s 1.4s;
            animation: blowing3 2s 1.4s;
  }

  .industrialicon, .industrialbubble{
    -webkit-animation: blowing3 2s 1.5s;
            animation: blowing3 2s 1.5s;
  }

  .webicon, .webbubble{
    -webkit-animation: blowing3 2s 1.6s;
            animation: blowing3 2s 1.6s;
  }

  .contacticon, .contactbubble{
    -webkit-animation: blowing3 2s 1.7s;
            animation: blowing3 2s 1.7s;
  }

  .aboutusicon, .aboutusbubble{
    -webkit-animation: blowing3 2s 1.8s;
            animation: blowing3 2s 1.8s;
  }

  .homeicon{
    -webkit-animation: blowing3 2s 1.9s;
            animation: blowing3 2s 1.9s;
  }

  @-webkit-keyframes blowing3{
    0%, 100%{-webkit-transform: scale(0);transform: scale(0); opacity: 0; visibility: hidden;}
    20%, 80% {-webkit-transform: scale(1);transform: scale(1); opacity: 1; visibility: visible;}
  }

  @keyframes blowing3{
    0%, 100%{-webkit-transform: scale(0);transform: scale(0); opacity: 0; visibility: hidden;}
    20%, 80% {-webkit-transform: scale(1);transform: scale(1); opacity: 1; visibility: visible;}
  }
}

/*
#######################################################################################################
#################################Animaciones hover del menú############################################
#######################################################################################################
*/

.espaciosbubble, .mobiliariobubble, .industrialbubble, .webbubble, .contactbubble, .aboutusbubble{
  z-index: 4;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: visibility, transform, opacity;
  transition-property: visibility, transform, opacity;
  transition-property: visibility, transform, opacity, -webkit-transform;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.espaciosicon:hover ~ .espaciosbubble, .espaciosbubble:hover,
.mobiliarioicon:hover ~ .mobiliariobubble, .mobiliariobubble:hover,
.industrialicon:hover ~ .industrialbubble, .industrialbubble:hover,
.webicon:hover ~ .webbubble, .webbubble:hover,
input#opencontact:hover ~ .contactbubble, .contactbubble:hover,
.aboutusicon:hover ~ .aboutusbubble, .aboutusbubble:hover{
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

input#opencontact:checked ~ .contactbubble{
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

@media all and (max-width: 768px){
  input#openmenu:checked ~ .boomicon{
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }

  .espaciosbubble, .mobiliariobubble, .industrialbubble, .webbubble, .contactbubble, .aboutusbubble{
    -webkit-transition-property: visibility, opacity, -webkit-transform;
    transition-property: visibility, opacity, -webkit-transform;
    -o-transition-property: visibility, transform, opacity;
    transition-property: visibility, transform, opacity;
    transition-property: visibility, transform, opacity, -webkit-transform;
    -webkit-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
  }

  input#openmenu:checked ~ .circlemenu,
  input#openmenu:checked ~ .menuicons > a > .espaciosicon,
  input#openmenu:checked ~ .menuicons > a > .mobiliarioicon,
  input#openmenu:checked ~ .menuicons > a > .industrialicon,
  input#openmenu:checked ~ .menuicons > a > .webicon,
  input#openmenu:checked ~ .menuicons > a > .contacticon,
  input#openmenu:checked ~ .menuicons > a > .aboutusicon,
  input#openmenu:checked ~ .menuicons > a > .espaciosbubble,
  input#openmenu:checked ~ .menuicons > a > .mobiliariobubble,
  input#openmenu:checked ~ .menuicons > a > .industrialbubble,
  input#openmenu:checked ~ .menuicons > a > .webbubble,
  input#openmenu:checked ~ .menuicons > a > .contactbubble,
  input#openmenu:checked ~ .menuicons > a > .aboutusbubble,
  input#openmenu:checked ~ .menuicons > a > .homeicon{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

/*
#######################################################################################################
##############################Estilos para el texto de la cabecera#####################################
#######################################################################################################
*/

.titlearea h1{
  font-family: Butler, serif;
  color: white;
  font-size: 4.73vh;
  font-weight: 600;
  width: 100%;
}

.titlearea p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 100;
  color: white;
  font-size: 3.6vh;
  width: 100%;
}

@media all and (max-width: 768px){
  .titlearea h1{
    font-size: 4.35vw;
  }

  .titlearea p{
    font-size: 3.2vw;
  }
}

/*
#######################################################################################################
##################################Estilos para los créditos############################################
#######################################################################################################
*/

.content p{
  position: absolute;
  transform: rotate(-90deg);
  bottom: 14vh;
  right: -12.5vh;
  font-size: 1.5vh;
}

@media all and (max-width: 768px){
  .content p{
    bottom: 8vh;
    right: -5.6vh;
    font-size: 0.75vh;
  }
}

a > img:focus {
  color: transparent;
}