@font-face{
  font-family: Butler_Black;
  font-weight: normal;
  src: url('../fonts/Butler_Black.otf');
}

@font-face{
  font-family: Butler_Black;
  font-weight: bold;
  src: url('../fonts/Butler_Bold.otf');
}

@font-face{
  font-family: Butler_Black;
  font-weight: 600;
  src: url('../fonts/Butler_Medium.otf');
}

@font-face{
  font-family: BigJohn;
  font-weight: normal;
  src: url('../fonts/BigJohnPRO-Regular.otf');
}

@font-face{
  font-family: BigJohn;
  font-weight: 100;
  src: url('../fonts/BigJohnPRO-Light.otf');
}

@font-face{
  font-family: BigJohn;
  font-weight: bold;
  src: url('../fonts/BigJohnPRO-Bold.otf');
}

html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

.section1{
  background-image: url(../img/background1.jpg);
  /* background-image: url(../img/dummy.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-animation-name: opening;
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: opening;
  animation-duration: 1s;
  z-index: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opening {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes opening {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bottom-triangle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-name: entering; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: entering;
  animation-duration: 1s;
  z-index: 2;
}

.top-triangle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-name: entering2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  animation-name: entering2;
  animation-duration: 1.5s;
  z-index: 3;
}

.boomlogo {
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-name: entering3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: entering3;
  animation-duration: 2s;
  z-index: 4;
}

.menuback {
  width: 54%;
  height: 54% !important; 
  position: absolute;
  display: flex;
  right: -26.9%;
  bottom: 23.1%;
  transform: scale(1);
  -webkit-animation-name: blowmenuback; /*Safari 4.0 - 8.0*/
  -webkit-animation-duration: 2s; /*Safari 4.0 - 8.0*/
  animation-name: blowmenuback;
  animation-duration: 2s;
}

.menuback img{
  width: 100%;
  height: 100% !important; 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entering {
  from {left: -445px;}
  to {left: 0;}
}

/* Standard syntax */
@keyframes entering {
  from {left: -445px;}
  to {left: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entering2 {
  from {left: -900px;}
  to {left: 0;}
}

/* Standard syntax */
@keyframes entering2 {
  from {left: -900px;}
  to {left: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entering3 {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes entering3 {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blowmenuback {
  from {transform: scale(0.1);}
  to {transform: scale(1);}
}

/* Standard syntax */
@keyframes blowmenuback {
  from {transform: scale(0.1) translateX(0) translateY(0);}
  to {transform: scale(1) translateX(0) translateY(0);}
}

.section1 figure img {
  height: 100vh;
}

.dinamicmenu{
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}

#menu1{
  position: absolute;
  width: 9.8%;
  left: 87%;
  bottom: 58.4%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu1 img{
  width: 100%;
  height: 100%;
}


#menu2{
  position: absolute;
  width: 9.8%;
  left: 101.31%;
  bottom: 58.05%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu2 img{
  width: 100%;
  height: 100%;
}

#menu3{
  position: absolute;
  width: 9.9%;
  left: 113.3%;
  bottom: 51.2%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu3 img{
  width: 100%;
  height: 100%;
}

#menu4{
  position: absolute;
  width: 9.9%;
  height: auto;
  left: 113.2%;
  bottom: 41.3%;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu4 img{
  width: 100%;
  height: 100%;
}

#menu5{
  position: absolute;
  width: 9.9%;
  left: 87%;
  bottom: 34%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu5 img{
  width: 100%;
  height: 100%;
}

#menu6{
  position: absolute;
  width: 9.9%;
  left: 101.3%;
  bottom: 34.3%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu6 img{
  width: 100%;
  height: 100%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blowmenu {
  from {transform: scale(.1);}
  to {transform: scale(1);}
}

/* Standard syntax */
@keyframes blowmenu {
  from {transform: scale(.1);}
  to {transform: scale(1);}
}

#menuballoon1{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 88.5%;
  bottom: 61%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu1:hover + #menuballoon1{
  opacity: 1;
  transform: scale(5.5) translateX(23%) translateY(-37%);
}

#menuballoon2{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 104%;
  bottom: 61%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu2:hover + #menuballoon2{
  opacity: 1;
  transform: scale(5.63) translateX(42.2%) translateY(-76.5%);
}

#menuballoon3{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 113.5%;
  bottom: 54%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu3:hover + #menuballoon3{
  opacity: 1;
  transform: scale(5.2) translateX(63.4%) translateY(-33%);
}

#menuballoon4{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 113.5%;
  bottom: 45%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu4:hover + #menuballoon4{
  opacity: 1;
  transform: scale(4.58) translateX(65.5%) translateY(45%);
}

#menuballoon5{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 89.5%;
  bottom: 38%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu5:hover + #menuballoon5{
  opacity: 1;
  transform: scale(5.33) translateX(18.9%) translateY(56%);
}

#menuballoon6{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 103.5%;
  bottom: 38%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu6:hover + #menuballoon6{
  opacity: 1;
  transform: scale(4.45) translateX(42.5%) translateY(93%);
}

.mainsection{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 3fr / 100%
}

.mainsection header{
  display: flex;
  font-family: Butler_Black;
  font-weight: 600;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7.5%;
  font-size: 33px;
  -webkit-animation-name: opening;
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: opening;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.42,0,1,1);
}

.mainsection header div{
  text-align: center;
  margin-top: 3%;
}

.mainsection header div p{
  padding: 0;
  margin: 0;
}

.mainsection header div :nth-child(2){
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

.credits{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 200;
  position: fixed;
  right: -145px;
  bottom: 170px;
  transform: rotate(-90deg);
  /* text-shadow: 1px 1px 2px black; */
}

.section2 {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/backgroundsd.png);
/*   background-image: url(../img/dummyespacios.png); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.triangleback, .trianglefront, .boomlogo-sd {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 9;
}

.triangleback img, .trianglefront img, .boomlogo-sd img{
  height: 100vh;
}

.menuback-sd {
  width: 45.1%;
  height: 54%; 
  position: absolute;
  display: flex;
  right: -22.6%;
  bottom: 23.1%;
}

.menuback-sd img{
  width: 100%;
  height: 100% !important; 
}

#menu1-sd{
  position: absolute;
  width: 11.5%;
  left: 85.2%;
  bottom: 58.4%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu1-sd img{
  width: 100%;
  height: 100%;
}

#menuballoon1-sd{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 88.5%;
  bottom: 61%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu1-sd:hover + #menuballoon1-sd{
  opacity: 1;
  transform: scale(6.1) translateX(19.1%) translateY(-42.3%);
}

#menu2-sd{
  position: absolute;
  width: 11.6%;
  left: 101.6%;
  bottom: 57.9%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu2-sd img{
  width: 100%;
  height: 100%;
}

#menuballoon2-sd{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 103.7%;
  bottom: 61%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu2-sd:hover + #menuballoon2-sd{
  opacity: 1;
  transform: scale(6.4) translateX(47.6%) translateY(-82.6%);
}

#menu3-sd{
  position: absolute;
  width: 11.7%;
  left: 115.4%;
  bottom: 51.1%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu3-sd img{
  width: 100%;
  height: 100%;
}

#menuballoon3-sd{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 117.5%;
  bottom: 54%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu3-sd:hover + #menuballoon3-sd{
  opacity: 1;
  transform: scale(6.3) translateX(58.2%) translateY(-31.8%);
}

#menu4-sd{
  position: absolute;
  width: 11.8%;
  height: auto;
  left: 115.2%;
  bottom: 41.3%;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu4-sd img{
  width: 100%;
  height: 100%;
}

#menuballoon4-sd{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 117.8%;
  bottom: 45%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu4-sd:hover + #menuballoon4-sd{
  opacity: 1;
  transform: scale(5.28) translateX(62.3%) translateY(45%);
}

#menu6-sd{
  position: absolute;
  width: 11.6%;
  left: 101.6%;
  bottom: 34.1%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu6-sd img{
  width: 100%;
  height: 100%;
}

#menuballoon6-sd{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 103.8%;
  bottom: 37.2%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu6-sd:hover + #menuballoon6-sd{
  opacity: 1;
  transform: scale(5.25) translateX(44.8%) translateY(79.9%);
}

#menu5-sd{
  position: absolute;
  width: 11.1%;
  left: 85.5%;
  bottom: 33.9%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu5-sd img{
  width: 100%;
  height: 100%;
}

#menuballoon5-sd{
  position: absolute;
  width: 7%;
  height: auto;
  opacity: 0;
  left: 87.5%;
  bottom: 36.2%;
  z-index: 0;
  transition-property: transform, opacity;
  transition-duration: 0.1s;
}

#menu5-sd:hover + #menuballoon5-sd{
  opacity: 1;
  transform: scale(6.03) translateX(21.5%) translateY(44.7%);
}

#menu7-sd{
  position: absolute;
  width: 6.6%;
  left: 96.7%;
  bottom: 47.47%;
  height: auto;
  z-index: 1;
  transform: scale(1);
  -webkit-animation-name: blowmenu;
  -webkit-animation-duration: 2.5s;
  animation-name: blowmenu;
  animation-duration: 2.5s;
}

#menu7-sd img{
  width: 100%;
  height: 100%;
}

.mainsection-sd{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "head head"
                       "previous current"
                       "foot foot";
  grid-template-rows: 22.5% 55% 22.5%; 
  grid-template-columns: 45% 55%;
}

.header-sd{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1.3%;
  position: absolute;
  grid-area: head;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Butler_Black;
  font-weight: 600;
}

.header-right, .footer-right {
  width: 55%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.title{
  font-size: 18px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 1200px){
  .title{
    font-size: 16px;
  }
}

.title h1{
  padding: 0;
  margin: 0;
}

.subtitle{
  height: 50%;
  width: 100%;
}

.subtitle h3{
  font-family: BigJohn;
  font-weight: 100;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1200px){
  .subtitle h3{
    font-size: 14px;
  }
}

.hrtitle{
  box-sizing: border-box;
  width: 43%;
  height: 100%;
  padding: 2%;
  border-right: solid 1px white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hrtext{
  box-sizing: border-box;
  width: 55%;
  height: 100%;
  padding: 2% 2% 2% 5%;
  font-family: BigJohn;
  font-weight: 100;
  font-size: 13px;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.hrtext p{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px){
  .hrtext{
    font-size: 11px;
  }
}

.currentrender{
  grid-area: current;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.currentrender img{
  width: 100%;
  height: 100%;
}

.previousrender{
  grid-area: previous;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#renderdarker{
  position: absolute;
  z-index: 2;
  width: auto;
  height: 55%;
  right: 55%;
  opacity: .97;
}

.footer-sd{
  grid-area: foot;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.previousrender img{
  width: 100%;
  height: 100%;
}

.footer-right img{
  height: 10%;
}

.projectdescription{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.projectdescription p{
  font-family: BigJohn;
  color: white
}

.projecttitle{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

#back{
  position: relative;
  left: 0;
}

#forward{
  position: relative;
  left: 95%;
}
