@font-face{
  font-family: Butler;
  font-weight: normal;
  src: url('../fonts/Butler_Black.otf');
}

@font-face{
  font-family: Butler;
  font-weight: bold;
  src: url('../fonts/Butler_Bold.otf');
}

@font-face{
  font-family: Butler;
  font-weight: 600;
  src: url('../fonts/Butler_Medium.otf');
}

*{
  padding: 0;
  margin: 0;
}

html body{ 
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*
#######################################################################################################
##################################Grid del contenedor principal########################################
#######################################################################################################
*/

.maincontainer{
  background-image: url(../img/homebackground1.jpg);
  /* background-image: url(../dummies/contactus.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "menu title" "menu content";
  -ms-grid-columns: 74.4vh 1fr;
  grid-template-columns: 74.4vh 1fr;
  -ms-grid-rows: 22% 78%;
  grid-template-rows: 22% 78%;
}

.back1, .back2, .back3, .back4, .back5, .back6, .back7{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position-y: 100%;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 74.4vh 1fr;
}

.firsthalf{
  background: inherit;
  position: absolute;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
}

.back1{
  background-image: url(../img/homebackground1.jpg);
  opacity: 0;
  animation: backchange1 30s infinite;
}

@keyframes backchange1 { /*+esta transcurre del principio al segundo 2.5*/
  0%, 8.33% {opacity: 1;} /*0 a 2.5*/
  13.33%, 100% {opacity: 0;} /*2.5 a 30*/
}

.back2{
  background-image: url(../img/homebackground2.jpg);
  opacity: 0;
  animation: backchange2 30s infinite;
}

@keyframes backchange2 { /*esta transcurre del segundo 2.5 al 7.5*/
  0%, 8.33% {opacity: 0;} /*0 a 2.5*/
  13.33%, 25% {opacity: 1;} /*2.5 a 7.5*/
  30%, 100% {opacity: 0;} /*7.5 a 30*/
}

.back3{
  background-image: url(../img/homebackground3.jpg);
  background-position-y: 60%;
  opacity: 0;
  animation: backchange3 30s infinite;
}

@keyframes backchange3 { /*esta transcurre del segundo 7.5 al 12.5*/
  0%, 25% {opacity: 0;} /*0 a 7.5*/
  30%, 41.66% {opacity: 1;} /*7.5 a 12.5*/
  46.66%, 100% {opacity: 0;} /*12.5 a 30*/
}

.back4{
  background-image: url(../img/homebackground4.jpg);
  opacity: 0;
  animation: backchange4 30s infinite;
}

@keyframes backchange4 { /*esta transcurre del segundo 12.5 al 17.5*/
  0%, 41.66% {opacity: 0;} /*0 a 12.5*/
  46.66%, 58.33% {opacity: 1;} /*12.5 a 17.5*/
  63.33%, 100% {opacity: 0;} /*17.5 a 30*/
}

.back5{
  background-image: url(../img/homebackground5.jpg);
  opacity: 0;
  animation: backchange5 30s infinite;
}

@keyframes backchange5 { /*esta transcurre del segundo 17.5 al 22.5*/
  0%, 58.33% {opacity: 0;} /*0 a 17.5*/
  63.33%, 75% {opacity: 1;} /*17.5 a 22.5*/
  80%, 100% {opacity: 0;} /*22.5 a 30*/
}

.back6{
  background-image: url(../img/homebackground6.jpg);
  background-position-y: initial;
  opacity: 0;
  animation: backchange6 30s infinite;
}

@keyframes backchange6 { /*esta transcurre del segundo 22.5 al 27.5*/
  0%, 75% {opacity: 0;} /*0 al 22.5*/
  80%, 91.66% {opacity: 1;} /*22.5 al 27.5*/
  96.66%, 100% {opacity: 0;} /*27.5 al 30*/
}

.back7{
  background-image: url(../img/homebackground1.jpg);
  opacity: 0;
  animation: backchange7 30s infinite;
}

@keyframes backchange7 { /*esta transcurre del segundo 27.5 al segundo 30*/
  0%, 91.66% {opacity: 0;} /*0 al 27.5*/
  96.66%, 100% {opacity: 1;} /*27.5 al 30*/
}

.menu{
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  position: relative;
  grid-area: menu;
}

.menumobile{
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  position: relative;
  grid-area: menu;
  display: none;
}

.titlearea{
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: title;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

.content{
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  position: relative;
  grid-area: content;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

@media all and (max-width: 768px){
  html body{
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    overflow: initial;
    display: flex;
  }

  .maincontainer{
    /* background-image: url(../dummies/homemobile.jpg); */
    /* background-image: url(../dummies/espaciosmobile.jpg); */
    height: 177.867vw;
    width: 100%;
    grid-template-areas: "menu" "content";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 82.5vw 1fr;
    grid-template-rows: 82.5vw 1fr;
    background-position: 25% 50%;
  }

  .back1, .back2, .back3, .back4, .back5, .back6, .back7{
    background-position: 25% 50%;
  }

  .menu{
    display: none;
  }

  .menumobile{
    display: block;
  }

  .titlearea{
    position: absolute;
    bottom: 26.7%;
    left: 7.6%;
    box-sizing: border-box;
    padding-bottom: 5.7%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  }
}

/*
#######################################################################################################
##################################Estilos para el menú animado#########################################
#######################################################################################################
*/

.triangleback, .trianglefront, .logoboom{
  position: absolute;
  height: 100%;
  top:0;
}

.circlemenu{
  position: absolute;
  right: 4.3%;
  top: 34.5%;
  width: 38.6%;
}

.pacman{
  position: absolute;
  right: -1.2%;
  top: 30.4%;
  width: 53.092%;
  height: 39.5%;
  border-radius: 50%;
  background: inherit;
  box-shadow: inset 0px 0px 2000px rgba(255,255,255,0.2);
  filter: blur(5px);
  border: 0.2vh rgba(0, 0, 0, 1) solid;
  box-sizing: border-box;
  animation: blowing .8s .8s backwards;
}

.menuicons{
  position: absolute;
  top:31.8%;
  right: 0;
  width: 43%;
  height: 36.6%;
  /* background-color: rgba(0, 0, 255, .5); */
}

.espaciosicon, .mobiliarioicon, .industrialicon, .webicon, .contacticon, .aboutusicon, .homeicon{
  position: absolute;
  z-index: 4;
}

.espaciosicon{
  width: 31.5%;
  right: 62.6%;
  top: -6px;
}

.espaciosbubble{
  position: absolute;
  width: 94%;
  right: 11.4%;
  top: -36.3%;
  transform: scale(0);
  transform-origin: 20% 100%;
  opacity: .0;
  visibility: hidden;
}

.mobiliarioicon{
  width: 31.5%;
  right: 26.7%;
  top: -1.1%;
}

.mobiliariobubble{
  position: absolute;
  width: 100%;
  right: -54.1%;
  top: -19.6%;
  transform: scale(0);
  transform-origin: -8% 140%;
  opacity: .0;
  visibility: hidden;
}


.industrialicon{
  width: 31.5%;
  right: -3.8%;
  top: 20.6%;
}

.industrialbubble{
  position: absolute;
  width: 93%;
  right: -89.8%;
  top: 13.6%;
  transform: scale(0);
  transform-origin: -24% 95%;
  opacity: .0;
  visibility: hidden;
}

.webicon{
  width: 31.5%;
  right: -3.8%;
  top: 51.3%;
}

.webbubble{
  position: absolute;
  width: 103%;
  right: -99.8%;
  bottom: 11.8%;
  transform: scale(0);
  transform-origin: -15% 15%;
  opacity: .0;
  visibility: hidden;
}

.contacticon{
  width: 31.5%;
  right: 26.6%;
  bottom: -1.4%;
}

#opencontact{
  position: absolute;
  width: 31.5%;
  height: 27.5%;
  right: 26.6%;
  bottom: -1.4%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

#opencontact:checked ~ .contactusbubble,
#opencontact:checked ~ .contactsection{
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.contactbubble{
  position: absolute;
  width: 79%;
  right: -32.8%;
  bottom: -21.2%;
  transform: scale(0);
  transform-origin: 0% -30%;
  opacity: .0;
  visibility: hidden;
}

.contactusbubble{
  position: absolute;
  width: 241%;
  height: 169.3%;
  right: -196%;
  bottom: -76%;
  transition: .5s;
  transform: scale(0);
  transform-origin: 0% 54%;
  opacity: .0;
  visibility: hidden;
}

.contactsection{
  position: absolute;
  width: 241%;
  height: 169.3%;
  right: -196%;
  bottom: -76%;
  z-index: 2;
  transition: .5s;
  transform: scale(0);
  transform-origin: 0% 54%;
  opacity: .0;
  visibility: hidden;
}

.contactsection a{
  color: white;
  font-family: Bahnschrift;
  text-decoration: none;
}

.socialicon{
  position: absolute;
  left: 43%;
  width: 11.5%;
  height: 11.5%;
}

#facebook{
  top: 5.4%;
}

#facebooklink, #whatsapplink, #twitterlink, #instagramlink, #phonelink, #maillink{
  position: absolute;
  left: 55.8%;
  font-size: 1.99vmin;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#facebooklink {
  top: 10%;
}

#whatsapp{
  top: 21%;
}

#whatsapplink{
  top: 25.3%;
}

#twitter{
  top: 36.5%;
}

#twitterlink{
  top: 40.6%;
}

#instagram{
  top: 51.5%;
}

#instagramlink{
  top: 55.6%;
}

#phone{
  top: 67.5%;
}

#phonelink{
  top: 70.5%;
}

#mail{
  top: 83%;
}

#maillink{
  top: 87.4%;
}

.aboutusicon{
  width: 31.5%;
  right: 62.3%;
  bottom: -3.1%;
}

.aboutusbubble{
  position: absolute;
  width: 94.2%;
  right: 11.1%;
  bottom: -38.5%;
  transform: scale(0);
  transform-origin: 25% 0%;
  opacity: .0;
  visibility: hidden;
}

.homeicon{
  width: 20.5%;
  right: 48.1%;
  top: 41.4%;
}

@media all and (max-width: 768px){
  .triangleback, .trianglefront{
    width: 100%;
    height: auto;
  }

  .logoboom{
    width: 88%;
    top: -37.3%;
    left: 9.8%;
    height: 108.5%;
  }

  .boomicon{
    position: absolute;
    width: 16.3%;
    left: 42.1%;
    top: 54%;
    transition-property: filter;
    transition-duration: .8s;
  }

  #openmenu{
    position: relative;
    width: 18%;
    height: 18%;
    left: 41.1%;
    top: 54.6%;
    z-index: 1;
    opacity: 0;
  }

  .circlemenu{
    right: 36%;
    top: 65.5%;
    width: 28%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .menuicons{
    top: 55.2%;
    right: 33.7%;
    width: 32.6%;
    height: 44.9%;
  }

  .espaciosicon{
    width: 27.5%;
    right: -2.5%;
    top: 27.2%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .espaciosbubble{
    width: 98%;
    right: -95%;
    top: 28.7%;
  }

  .mobiliarioicon{
    width: 27.5%;
    right: -1.3%;
    top: 55%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .mobiliariobubble{
    width: 100%;
    right: -94.6%;
    top: 56.4%;
  }

  .industrialicon{
    width: 27.5%;
    right: 20.3%;
    top: initial;
    bottom: -2.3%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .industrialbubble{
    width: 98.2%;
    right: -72%;
    top: initial;
    bottom: 4.1%;
  }

  .webicon{
    width: 27.5%;
    right: initial;
    top: initial;
    bottom: -2.2%;
    left: 21.8%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .webbubble{
    width: 98.5%;
    right: initial;
    left: -69%;
    bottom: 3.7%;
  }

  .contacticon{
    width: 27.5%;
    right: initial;
    left: -0.9%;
    bottom: 20.8%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .contactbubble{
    width: 98.2%;
    right: initial;
    left: -91.9%;
    bottom: 27.7%;
  }

  .aboutusicon{
    width: 27.5%;
    right: initial;
    left: -2%;
    bottom: 48.2%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .aboutusbubble{
    width: 99%;
    right: 94.4%;
    bottom: 55.5%;
  }

  .homeicon{
    width: 17.6%;
    right: 41%;
    top: 46.8%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .8s;
  }

  .pacman{
  display: none;
  }
}

/*
#######################################################################################################
#############################Animaciones de entrada del menú###########################################
#######################################################################################################
*/

.maincontainer{
  animation: starting .8s;
}

.titlearea{
  animation: starting .8s 2.8s backwards;
}

@keyframes starting{
  from{opacity: 0;}
  to{opacity: 1;}
}

.triangleback{
  animation: entering .8s .4s backwards;
}

.trianglefront{
  animation: entering .8s .8s backwards;
}

@keyframes entering{
  from{left: -100%;}
  to{left: 0;}
}

.logoboom{
  animation: enteringlogo 1.6s 1.6s backwards;
}

@keyframes enteringlogo{
  from{opacity: 0;}
  to{opacity: 1;}
}

.circlemenu{
  animation: blowing .8s .8s backwards;
}

.espaciosicon{
  animation: blowing .8s 1s backwards;
}

.mobiliarioicon{
  animation: blowing .8s 1.2s backwards;
}

.industrialicon{
  animation: blowing .8s 1.4s backwards;
}

.webicon{
  animation: blowing .8s 1.6s backwards;
}

.contacticon{
  animation: blowing .8s 1.8s backwards;
}

.aboutusicon{
  animation: blowing .8s 2s backwards;
}

.homeicon{
  animation: blowing .8s 2.2s backwards;
}

@keyframes blowing{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

@media all and (max-width: 768px){
  @keyframes entering{
    from{top: -100%;}
    to{left: 0;}
  }

  .espaciosbubble, .mobiliariobubble, .industrialbubble{
    transform-origin: -14% 70%;
  }

  .webbubble, .contactbubble, .aboutusbubble{
    transform-origin: 112% 62%;
  }

  .boomicon{
    animation: blowing1 2s 1s backwards;
  }

  @keyframes blowing1{
    0% {transform: scale(0); filter: invert(0%);}
    20%, 80% {transform: scale(1); filter: invert(100%);}
    100%{transform: scale(1); filter: invert(0%);}
  }

  .circlemenu{
    animation: blowing2 3s 1.1s;
  }

  @keyframes blowing2{
    0%, 100%{transform: scale(0);}
    15%, 85% {transform: scale(1);}
  }

  .espaciosicon, .espaciosbubble{
    animation: blowing3 2s 1.3s;
  }

  .mobiliarioicon, .mobiliariobubble{
    animation: blowing3 2s 1.4s;
  }

  .industrialicon, .industrialbubble{
    animation: blowing3 2s 1.5s;
  }

  .webicon, .webbubble{
    animation: blowing3 2s 1.6s;
  }

  .contacticon, .contactbubble{
    animation: blowing3 2s 1.7s;
  }

  .aboutusicon, .aboutusbubble{
    animation: blowing3 2s 1.8s;
  }

  .homeicon{
    animation: blowing3 2s 1.9s;
  }

  @keyframes blowing3{
    0%, 100%{transform: scale(0); opacity: 0; visibility: hidden;}
    20%, 80% {transform: scale(1); opacity: 1; visibility: visible;}
  }
}

/*
#######################################################################################################
#################################Animaciones hover del menú############################################
#######################################################################################################
*/

.espaciosbubble, .mobiliariobubble, .industrialbubble, .webbubble, .contactbubble, .aboutusbubble{
  z-index: 4;
  transition-property: visibility, transform, opacity;
  transition-duration: .2s;
}

.espaciosicon:hover ~ .espaciosbubble, .espaciosbubble:hover,
.mobiliarioicon:hover ~ .mobiliariobubble, .mobiliariobubble:hover,
.industrialicon:hover ~ .industrialbubble, .industrialbubble:hover,
.webicon:hover ~ .webbubble, .webbubble:hover,
input#opencontact:hover ~ .contactbubble, .contactbubble:hover,
.aboutusicon:hover ~ .aboutusbubble, .aboutusbubble:hover{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

input#opencontact:checked ~ .contactbubble{
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

@media all and (max-width: 768px){
  input#openmenu:checked ~ .boomicon{
    filter: invert(100%);
  }

  .espaciosbubble, .mobiliariobubble, .industrialbubble, .webbubble, .contactbubble, .aboutusbubble{
    transition-property: visibility, transform, opacity;
    transition-duration: .8s;
  }

  input#openmenu:checked ~ .circlemenu,
  input#openmenu:checked ~ .menuicons > a > .espaciosicon,
  input#openmenu:checked ~ .menuicons > a > .mobiliarioicon,
  input#openmenu:checked ~ .menuicons > a > .industrialicon,
  input#openmenu:checked ~ .menuicons > a > .webicon,
  input#openmenu:checked ~ .menuicons > a > .contacticon,
  input#openmenu:checked ~ .menuicons > a > .aboutusicon,
  input#openmenu:checked ~ .menuicons > a > .espaciosbubble,
  input#openmenu:checked ~ .menuicons > a > .mobiliariobubble,
  input#openmenu:checked ~ .menuicons > a > .industrialbubble,
  input#openmenu:checked ~ .menuicons > a > .webbubble,
  input#openmenu:checked ~ .menuicons > a > .contactbubble,
  input#openmenu:checked ~ .menuicons > a > .aboutusbubble,
  input#openmenu:checked ~ .menuicons > a > .homeicon{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }


}





/*
#######################################################################################################
##############################Estilos para el texto de la cabecera#####################################
#######################################################################################################
*/

.titlearea h1{
  font-family: Butler, serif;
  color: white;
  font-size: 4.73vh;
  font-weight: 600;
  width: 100%;
}

.titlearea p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 100;
  color: white;
  font-size: 3.6vh;
  width: 100%;
}

@media all and (max-width: 768px){
  .titlearea h1{
    font-size: 4.35vw;
  }

  .titlearea p{
    font-size: 3.2vw;
  }
}

/*
#######################################################################################################
##################################Estilos para los créditos############################################
#######################################################################################################
*/

.content p{
  position: absolute;
  transform: rotate(-90deg);
  bottom: 14vh;
  right: -12.5vh;
  font-size: 1.5vh;
}

@media all and (max-width: 768px){
  .content p{
    bottom: 8vh;
    right: -5.6vh;
    font-size: 0.75vh;
  }
}

a > img:focus {
  color: transparent;
}